/* fonts */
/* helveticaneuecyr bold */
@font-face {
  font-family: 'helvetica-neue-cyr-bold';
  src: url('../fonts/helvetica-neue-cyr/bold/helveticaneuecyr-bold.eot');
  src: url('../fonts/helvetica-neue-cyr/bold/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/bold/helveticaneuecyr-bold.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/bold/helveticaneuecyr-bold.ttf') format('truetype'),
  url('../fonts/helvetica-neue-cyr/bold/helveticaneuecyr-bold.svg#helveticaneuecyr-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* helveticaneuecyr bold italic */
@font-face {
  font-family: 'helvetica-neue-cyr-bold-italic';
  src: url('../fonts/helvetica-neue-cyr/bold-italic/helveticaneuecyr-bolditalic.eot');
  src: url('../fonts/helvetica-neue-cyr/bold-italic/helveticaneuecyr-bolditalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/bold-italic/helveticaneuecyr-bolditalic.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/bold-italic/helveticaneuecyr-bolditalic.ttf') format('truetype'),
  url('../fonts/helvetica-neue-cyr/bold-italic/helveticaneuecyr-bolditalic.svg#helveticaneuecyr-bolditalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* helveticaneuecyr light */
@font-face {
  font-family: 'helvetica-neue-cyr-light';
  src: url('../fonts/helvetica-neue-cyr/light/helveticaneuecyr-light.eot');
  src: url('../fonts/helvetica-neue-cyr/light/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/light/helveticaneuecyr-light.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/light/helveticaneuecyr-light.ttf') format('truetype'),
  url('../fonts/helvetica-neue-cyr/light/helveticaneuecyr-light.svg#helveticaneuecyr-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* helveticaneuecyr light italic*/
@font-face {
  font-family: 'helvetica-neue-cyr-light-italic';
  src: url('../fonts/helvetica-neue-cyr/light-italic/helveticaneuecyr-lightitalic.eot');
  src: url('../fonts/helvetica-neue-cyr/light-italic/helveticaneuecyr-lightitalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/light-italic/helveticaneuecyr-lightitalic.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/light-italic/helveticaneuecyr-lightitalic.ttf') format('truetype'),
  url('../fonts/helvetica-neue-cyr/light-italic/helveticaneuecyr-lightitalic.svg#helveticaneuecyr-lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* helveticaneuecyr thinitalic */
@font-face {
  font-family: 'helvetica-neue-cyr-thin-italic';
  src: url('../fonts/helvetica-neue-cyr/thin-italic/helveticaneuecyr-thinitalic.eot');
  src: url('../fonts/helvetica-neue-cyr/thin-italic/helveticaneuecyr-thinitalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-neue-cyr/thin-italic/helveticaneuecyr-thinitalic.woff') format('woff'),
  url('../fonts/helvetica-neue-cyr/thin-italic/helveticaneuecyr-thinitalic.ttf') format('truetype'),
  url('../fonts/helvetica-neue-cyr/thin-italic/helveticaneuecyr-thinitalic.svg#helveticaneuecyr-thinitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* rotondac regular */
@font-face {
  font-family: 'rotondac-regular';
  src: url('../fonts/rotondac/regular/rotondac.eot');
  src: url('../fonts/rotondac/regular/rotondac.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rotondac/regular/rotondac.woff') format('woff'),
  url('../fonts/rotondac/regular/rotondac.ttf') format('truetype'),
  url('../fonts/rotondac/regular/rotondac.svg#rotondac') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* rotondac bold */
@font-face {
  font-family: 'rotondac-bold';
  src: url('../fonts/rotondac/bold/rotondac-bold.eot');
  src: url('../fonts/rotondac/bold/rotondac-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rotondac/bold/rotondac-bold.woff') format('woff'),
  url('../fonts/rotondac/bold/rotondac-bold.ttf') format('truetype'),
  url('../fonts/rotondac/bold/rotondac-bold.svg#rotondac-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* fonts end */