@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1279px){
  /*locate*/
  .locate { padding: 250px 40px 100px; }
  .locate-controls{
    left: 40px;
    top: 40px;
    font-size: 22px;
  }
  .locate-controls a{
    float: none;
    display: block;
    text-align: center;
  }
  .locate-adr__item,
  .locate-cont__item{
    font-size: 22px;
    line-height: 36px;
  }
  .locate-cont__item .locate__tel + dd {
    font-size: 32px;
    line-height: 36px;
    position: relative;
  }
  .see-map {
    right: 40px;
    top: 40px;
  }
  /*locate end*/

  /*popup*/
  .product-card__content, .product-card__title { padding-left: 30px; }
  /*popup end*/
  /*MAIN end*/

  ///*SIDEBAR*/
  ///*main navigation*/
  //.nav-drop__group{
  //  padding: 25px 30px;
  //  width: 240px;
  //}
  ///*main navigation end*/
  ///*SIDEBAR end*/

  /*FOOTER*/
  .footer-holder{ text-align: center; }
  .footer-holder:after{ content: normal; }
  .footer-holder:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    min-height: 80px;
  }
  .footer-col{
    width: 33.28%;
    padding-top: 0;
    padding-bottom: 0;
  }
  /*FOOTER end*/
}

@media only screen and (max-width: 1199px){
  /*about*/
  .about__img,
  .about__item_rtl .about__img{
    width: 435px;
    max-width: 88%;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    padding: 0;
    margin: 0 auto -90px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .about__img img,
  .about__item_rtl .about__img img {
    display: block;
    margin: 0 auto;
  }
  .about__content,
  .about__item_rtl .about__content{
    display: block;
    border-radius: 50px;
    width: auto;
    padding-top: 120px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .about__content:before{
    content: none;
  }
  /*about end*/
}

@media only screen and (max-width: 1079px){
  .footer-nav__col.no-space{ width: 49%; }
  .footer-nav__col.col-lg{ width: 50%; }
}

@media only screen and (max-width: 979px){
  .screen__logo{
    width: 172px;
    left: 50%;
    top: 40px;
    margin-left: -86px;
  }
  .screen__title {
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    top: 138px;
  }
  /*MAIN*/
  /*CONTENT*/
  .imgl,
  .imgr{
    float: none;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .buttons,
  .load-more{ padding: 35px 30px 55px; }
  .section-title{ padding: 55px 30px 35px; }
  /*CONTENT end*/
  /*overlay*/
  .overlay{ background: transparent url(../../img/empty.png); }
  /*overlay end*/
  /*MAIN end*/

  /*HEADER*/

  /*HEADER end*/

  /*social*/
  .header-show .soc.fixed {
    -webkit-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px);
  }
  .header-show .soc.fixed.stick-bottom {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  /*social end*/

  /*SIDEBAR*/
  ///*main navigation*/
  //.nav-drop{
  //  position: relative;
  //  left: auto;
  //  top: auto;
  //  height: auto !important;
  //  overflow: hidden;
  //  z-index: 1;
  //}
  //.nav-drop__holder { padding-top: 0; }
  //.nav-drop__group { width: auto; }
  //
  //.nav-drop__holder{ padding-top: 86px; }
  //.nav-drop__group {
  //  border: none;
  //  display: block;
  //  border-top: 1px solid #d8d8d8;
  //  height: auto !important;
  //  min-height: 0 !important;
  //  width: 320px;
  //}
  //.nav-drop__group:first-child { border: none; }
  //.nav-drop__title{
  //  font-size: 20px;
  //  line-height: 24px;
  //}
  ///*main navigation end*/
  /*SIDEBAR end*/

  /*FOOTER*/
  .footer-holder{ padding: 0 30px; }
  /*FOOTER end*/
}

@media only screen and (max-width: 767px){
  .btn-view-print svg{ margin-right: 0; }
  .btn-view-print span{ display: none; }
  .imgl,
  .imgr{
    float: none;
    display: block;
    padding: 0;
    margin: 0 auto 30px;
  }
  /*MAIN*/
  /*CONTENT*/
  /*breadcrumbs*/
  .breadcrumbs { padding-bottom: 30px; }
  /*breadcrumbs end*/

  /*datetime*/
  .datetime{ padding-bottom: 30px; }
  /*datetime end*/

  /*previews*/
  .previews{ max-width: 560px; }
  .previews__item{ max-width: 50%; }
  .previews__item:nth-child(3){ display: none; }
  .previews__item_lg{ max-width: none; }
  /*previews end*/

  /*news*/
  .news__content { margin: 0; }
  .news__content:before { content: none; }
  .news__img, .news__share { display: none; }
  /*news end*/

  /*contacts*/
  .contacts__holder { float: none; }
  .contacts__frame { margin-right: 0; }
  .contacts-aside {
    float: none;
    margin: 0;
    width: auto;
  }
  /*contacts end*/

  /*locate*/
  .locate {
    padding: 190px 30px 40px;
    min-height: 590px;
  }
  .locate-controls{ left: 30px; }
  .locate-controls a{
    float: left;
    text-align: left;
    padding: 15px 30px;
  }
  .see-map {
    right: 10px;
    top: 38px;
  }
  /*locate*/

  /*contacts form*/
  .contacts-aside:before{ content: none; }
  .contacts-form{
    max-width: 440px;
    display: block;
    width: auto;
    padding: 30px;
  }
  /*contacts form end*/

  /*popup*/
  .product-card__title{
    width: auto;
    display: block;
    float: none;
    padding-left: 0;
  }
  .product-card__title:after{ content: ''; }
  .product-card__visual,
  .product-card__spec{
    float: none;
    width: auto;
  }
  .product-card__content{
    width: auto;
    margin-left: 0;
    padding-left: 0;
  }
  /*popup end*/

  /*tape slider*/
  .tape-slider__arr{ width: 30px; }
  /*tape slider end*/
  /*CONTENT end*/
  /*MAIN end*/
}

@media only screen and (max-width: 639px){
  .screen__title {
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    top: 138px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="search"],
  textarea{
    padding-left: 20px;
    padding-right: 20px;
  }
  .select select,
  .select button.cselect .select-inner{ padding-left: 20px; }

  .text-page .max-wrap { padding: 30px; }
  .text-page .max-wrap .full-width { margin-left: -30px; }

  /*files*/
  .files{
    margin-left: 0;
    padding-left: 20px;
  }
  .files .files-item {
    display: block;
    width: auto;
    padding: 0 0 30px;
  }
  /*files*/

  /*social*/
  .soc {
    float: none;
    width: auto;
    position: relative !important;
    top: auto !important;
  }
  .header-show .soc.fixed {
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  .soc-list,
  .user-content .soc-list { width: 100%; }
  .soc-list:after,
  .user-content .soc-list:after {
    content: '';
    display: block;
    clear: both;
  }
  .soc-list li, .user-content .soc-list li, .user-content .soc-list li:first-child {
    float: left;
    padding: 0 25px 10px 0;
  }
  /*social end*/

  /*note*/
  .note, .more { margin-bottom: 20px; }
  /*note end*/

  /*about*/
  .about {
    padding: 0 20px 40px;
  }
  .about__content,
  .about__item_rtl .about__content{
    border-radius: 30px;
    padding: 120px 30px 20px;
  }
  .about__title:after,
  .about__item_rtl .about__title:after{
    width: 60px;
    height: 2px;
    margin-left: -30px;
  }
  /*about end*/

  ///*SIDEBAR*/
  //.nav-drop__group { width: 240px; }
  ///*SIDEBAR end*/

  /*FOOTER*/
  /*footer nav*/
  .footer-nav{ padding: 40px 0 10px; }
  .footer-nav__col{ width: 49.98%; }
  .footer-nav__col.no-space {
    padding-left: 0;
    padding-right: 30px;
  }
  .footer-nav__col.col-lg {
    width: auto;
    display: block;
  }
  /*footer nav end*/

  /*footer holder*/
  .footer-holder{ padding-bottom: 20px; }
  .footer-holder:before{ content: none; }
  .footer-col{
    width: 49.9%;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
  }
  .footer-col_left {
    padding-right: 12px;
    text-align: center;
  }
  .footer-col_right {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  /*footer holder end*/
  /*FOOTER end*/
}

@media only screen and (max-width: 479px){
  h1 { padding-bottom: 45px; }

  .text-page .max-wrap { padding: 30px 20px; }
  .form-row .input-wrap {
    display: block;
    width: auto;
  }
  .form-row .input-wrap{ padding-top: 20px; }
  .form-row .input-wrap:first-child{ padding-top: 0; }

  /*social*/
  .soc {
    padding-bottom: 20px;
    padding-left: 20px;
  }
  .soc-list li,
  .user-content .soc-list li,
  .user-content .soc-list li:first-child { padding: 0 15px 10px 0; }
  .soc-list .soc-icons{ margin-right: 6px; }
  /*social end*/

  /*datetime*/
  .datetime { padding-bottom: 20px; }
  /*datetime end*/

  /*note*/
  .note,
  .more{
    padding-right: 20px;
    margin-right: -20px;
  }
  /*note end*/

  /*blockquote*/
  .blockquote { padding: 35px 0 30px; }
  .user-content blockquote {
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 70px;
    margin-right: -20px;
  }
  .user-content blockquote:after {
    width: 54px;
    height: 42px;
    left: 0;
    top: -10px;
  }
  /*blockquote end*/

  .buttons,
  .load-more{ padding: 25px 20px 45px; }
  .section-title{ padding: 45px 20px 25px; }

  h1,
  .section-title h2,
  .section-title h1,
  .video-section h2,
  .section-title > div,
  .section-title > strong{
    font-size: 30px;
    line-height: 40px;
  }

  /*previews*/
  .previews{ max-width: 280px; }
  .previews__item{
    display: block;
    max-width: none;
  }
  .previews__item:nth-child(3){ display: block; }
  .previews__item_lg{ max-width: none; }
  .previews__item_lg .previews__img{ min-height: 434px; }
  .previews__item:before { border-left-color: #d8d8d8; }
  .previews__inner{ height: auto !important; }
  /*previews end*/

  /*news*/
  .news,
  .news__content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .load-more__icon{
    width: 70px;
    height: 70px;
  }
  .load-more__icon [class*="depict-"]{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%) scale(0.8, 0.8);
    -ms-transform: translate(-50%, -50%) scale(0.8, 0.8);
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
  /*news end*/

  /*locate*/
  .locate{
    padding: 190px 20px 20px;
    min-height: 568px;
  }
  .locate-controls{
    left: 20px;
    top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  .map-show .locate-controls { display: none; }
  .locate-controls a{
    float: none;
    display: block;
    text-align: center;
  }
  .locate-adr__item,
  .locate-cont__item {
    font-size: 18px;
    line-height: 26px;
  }
  .locate-cont__item dt { min-width: 65px; }
  .locate-cont__item .locate__tel + dd {
    font-size: 24px;
    line-height: 26px;
    position: relative;
  }
  .see-map{
    right: 18px;
    top: 18px;
    width: 56px;
    height: 56px;
  }
  /*locate*/

  /*contacts form*/
  .contacts-form{
    padding-left: 20px;
    padding-right: 20px;
  }
  .contacts-form h3{
    font-size: 30px;
    line-height: 40px;
  }
  /*contacts form end*/

  /*popup*/
  .product-card {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*popup end*/

  /*FOOTER*/
  /*footer nav*/
  .footer-nav__col,
  .footer-nav__col.no-space {
    width: auto;
    display: block;
    padding: 0 20px 30px;
  }
  .footer-nav__list,
  .user-content .footer-nav__list,
  .footer-nav__title{
    font-size: 0;
    letter-spacing: -4px;
  }
  .footer-nav__list li{
    display: inline-block;
    vertical-align: top;
    width: 49.98%;
  }
  .footer-nav__list li,
  .user-content .footer-nav__list li,
  .user-content .footer-nav__list li:first-child,
  .footer-nav__title{
    padding: 0 0 12px;

    font-size: 20px;
    letter-spacing: normal;
  }
  /*footer nav end*/

  /*footer holder*/
  .footer-col {
    display: block;
    width: auto;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  /*footer holder end*/
  /*FOOTER end*/
}